<nav class="nav">
    <h1 class="nav-heading"><a routerLink="/">Ecom</a></h1>
    <div class="nav-search" *ngIf="menuType == 'default'">
        <input #searchInput type="text" class="search" (keyup)="searchProduct($event)" (blur)="hideSearch()" placeholder="Search for Product">
        <button>Search</button>
    
        <button (click)="submitSearch(searchInput.value)" >Search</button>
        <ul class="suggested-search" *ngIf="searchResult">
          <li *ngFor="let item of searchResult">
            <a (mousedown)="redirectToDetails(item.id)" >{{item.name}}</a>
          </li>
        </ul>
    </div>
    <div [ngSwitch]="menuType">
        <ul *ngSwitchCase="'default'">
            <li><a routerLink="/" routerLinkActive="active">Home</a></li>
            <li><a routerLink="/seller-auth" routerLinkActive="active">Seller</a></li>
            <li><a routerLink="#" routerLinkActive="active">Login</a></li>
            <li><a routerLink="#" routerLinkActive="active">Cart(0)</a></li>

        </ul>
        <ul *ngSwitchCase="'seller'">
            <li><a routerLink="/seller-home" routerLinkActive="active">Product List</a></li>
            <li><a routerLink="seller/add-product" routerLinkActive="active">Product Create</a></li>
            <li><a (click)="logout()">Logout</a></li>
            <li><a routerLink="#" routerLinkActive="active">{{ seller.name }}</a></li>
        </ul>
    </div>
</nav>