<div class="add-product">
    <h1>Add New Product</h1>
    <p class="message-p">{{ message }}</p>
    <form #updateProductForm="ngForm"
    (ngSubmit)="updateProduct(updateProductForm.value)"
     class="common-form">
      <input
        type="text"
        class="form-input"
        placeholder="Enter Product Name"
        name="name"
        [value]="product?.name"
        ngModel
      />
      <input
      type="text"
      class="form-input"
      placeholder="Enter Product Price"
      name="price"
      [value]="product?.price"
      ngModel
    />
    <input
    type="text"
    class="form-input"
    placeholder="Enter Product Category"
    name="category"
    [value]="product?.category"
    ngModel
  />
  <input
  type="text"
  class="form-input"
  placeholder="Enter Product Color"
  name="color"
  [value]="product?.color"
  ngModel
  />
  <textarea
  type="text"
  class="form-input"
  placeholder="Enter Product Description"
  name="description"
  [value]="product?.description"
  ngModel
  ></textarea>
  
  <input
  type="text"
  class="form-input"
  placeholder="Enter Product Image URL"
  name="image"
  [value]="product?.image"
  ngModel
  />
  <button class="form-button">Update Product</button>
  
    </form>
  </div>